body {
    background: #161616;
    font-family: 'gotham';
    color: rgb(200, 200, 200);
}

a:link {color: rgb(255,0,0); font-size: 30px;position: fixed; top: 37.5%; right: 49.6%;}
a:hover {color:rgb(153,153,153);}
a:visited {color:rgb(153,153,153);}

img {
    width: 100%;
    cursor: none;
    margin: 0 0 0 0;
}

.header {
    text-align: right;
    font-size: 80px;
}

.subhead{
    font-size: 25px;
    color: rgb(179, 179, 179);
    font-family: 'cinzel', serif;
    bottom: 0; right: 1%
}

.fix{
    font-size: 100px;
    color: rgba(255, 255, 255, 0.473);
    position: fixed; top: 32%; left: 37%;
}


::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: red; 
  }