body {
    background:black;
    font-size: 30px;
    font-family: 'gotham';
    color: rgb(200, 200, 200);
    cursor: none;
}

img {
width: 19.4%;
margin: 0 0 0 0;
padding: 0 0 0 0;
image-rendering: loop;
}

.fix {position: fixed; bottom: 0; right: 0;}
.fix2 {position: fixed; bottom: 0; left: 0;}

a:link {color: rgb(36, 36, 36); text-decoration: none; font size: 200pt;}
a:hover {color: white}