body {
    background: #161616;
    font-family: 'gotham';
    font-size: 300px;
    color: rgb(200, 200, 200);
}

.fix {position: fixed; top: 8px; left:0;
    color: rgba(0, 0, 0, 0.4); }

    a:link {color: rgb(36, 36, 36); text-decoration: none; font size: 200pt;}
    a:hover {color: white}
    a:visited {color: black;}