body {
    background: #161616;
    font-size: 30px;
    font-family: 'gotham';
    color: rgb(200, 200, 200);
}
.gotham {
    font-size: 295px;
}

.cinzel {
    font-size: 325px;
    color: white;
    font-family: 'cinzel', serif;
}

img{width: 100%; height: 50%; bottom:0; opacity: 0.8;}
.container {
    position: relative;
    text-align: center;
}
.left{text-align: left;}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
.right{text-align: right;}
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

a:link {color: rgb(255,0,0); font size: 12px;position: fixed; top: 50%; right: 20%;}
a:hover {color:white;}
a:visited {color: white;}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: red; 
  }