body {
    background: rgb(44, 44, 44);
    font-size: 30px;
    font-family: 'gotham';
    color: rgb(200, 200, 200);
    cursor: none;
}

img {
width: 19.4%;
margin: 0 0 0 0;
padding: 0 0 0 0;
image-rendering: loop;
}

.fix2 {position: fixed; top: 8px; left:0; text-align: center;
    color: rgba(0, 0, 0, 0.4); font-size: 300px; }

.fix {position: fixed; bottom: 0; right: 0;}


a:link {color: rgb(36, 36, 36); text-decoration: none; font size: 200pt;}
a:hover {color: white}
a:visited {color: rgb(88, 88, 88);}