* {
    box-sizing: border-box;
    vertical-align: top;
}

body {
    background: rgb(46, 51, 61);
    font-size: 12px;
    font-family: Georgia, serif;
    color: #ffff;
    margin: 0 150px 0 150px;
}

.heading1{font-size:20px;}

.heading2{ font-size: 50px; font-family: 'Monoton', cursive;}

.text{color: #393f4c;}