*{box-sizing: border-box}

body {
    background: #161616;
    font-family: 'gotham';
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-size:0;
}

a:link {color: rgba(255, 255, 255, 0.205); text-decoration: none;}
a:hover {color: white}

html, body, .wrapper {height: 100%;}

.column {
    width: 50%;
    height: 100%;
    display: inline-block;
    padding: 30px;
    vertical-align: top;
}

.content {background: #f1f1f1; font-size: 20px;}

ul, li {
    margin: 0;
    padding: 10px;
    list-style: none;}

.nav-item {
    font-size: 20px;
    border: 1px solid #000;
    padding: 10px, 20px;
    display: inline-block;
    margin: 0 15px 15px 0px;}

.nav-item:hover {
    background: black;
    color: white;
    cursor: pointer;}

.hide {display:none;}

.logo.english {width: 150px;}

.logo img {
    transform: translate (-50%, -50%);
}

.logo.english img {height: 150px;}