body {
    background: #161616;
    font-size: 30px;
    font-family: 'gotham';
    color: rgb(200, 200, 200);
}
.gotham {
    font-size: 100px; text-align: justify;
}

.cinzel {
    font-size: 325px;
    color: white;
    font-family: 'cinzel', serif;
    text-decoration-line: underline;
}

a:link {color: rgb(36, 36, 36); text-decoration: none;}
a:hover {color: white}
a:visited {color: black;}
