body {
    background:#2e333d;
    font-size: 20px;
    font-family: 'Futura';
    margin: 50px 100px 50px 100px;
}


.header {
    padding: 5px;
    background: #282c35;
    color: #383c46;
    margin: 0px 0px 25px 0px;
}

.c1 {
    background: #282c35;
    width: 528.5px;
    height: 125px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.c2 {
    background: #282c35;
    width: 528.5px;
    height: 125px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}

.subhead {
color: #383c46;
font-family: 'Gill Sans';
font-size: 30px;
}

.list {color: #474c58;}

.theme {
    margin: 30px 0 25px 0px;
    font-family: 'Monoton', cursive;
    color: #ffff;
    font-size: 80px;}

.zoom {transition: transform 0.5s;}
.zoom:hover {
    transform: scale(1.35); 
    cursor: none; 
    text-shadow: 0 0 10px #8090af, 0 0 10px #8090af; }

a:link {color: white; text-decoration: none;}
a:hover {color: #848faa;}
a:visited {color: #474c58;}