body {
    background:#2e333d;
    font-size: 20px;
    font-family: 'Futura';
    margin: 50px 100px 50px 100px;
}


.header {
    padding: 5px;
    background: #282c35;
    color: #383c46;
}

.c {
    background: #282c35;
    width: 505px;
    height: 125px;
    margin: 15px 15px 100px 15px;
    display: inline-block;
}

.subhead {
color: rgb(207, 207, 207);
font-family: 'Gill Sans';
font-size: 30px;
}

.list {color: rgb(207, 207, 207);}

.theme {
    margin: 15px 0 0 0;
    font-family: 'Monoton', cursive;
    color: #ffff;
    font-size: 50px;}