body {
    background: #161616;
    font-size: 30px;
    font-family: 'gotham';
    color: rgb(200, 200, 200);
}
.gotham {
    font-size: 100px; text-align: justify;
}

.cinzel {
    font-size: 325px;
    color: white;
    font-family: 'cinzel', serif;
    text-decoration-line: underline;
}

a:link {color: rgb(255,0,0); font size: 12px;position: fixed; top: 87%; right: 25%;}
a:hover {color:rgb(204,204,204);}
a:visited {color:rgb(204,204,204);}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: red; 
  }