body {
    margin: 10px;
    background:rgb(37, 37, 37);
    font-family: Helvetica, sans-serif;
}

.title {
    color: rgb(78, 78, 78);
    text-align: center;
    font-size: 190px;
    padding: 2%;
    font-family: 'Akronim', cursive;
}

.title2 {
    color: rgb(61, 61, 61);
    text-align: center;
    font-size: 20px;
}

.block {
    box-sizing: border-box;
	display: flex;
    width: 25%;
    padding: 6%;
    float: left;
    justify-content: center;
}

.cityname {
    color: rgb(160, 160, 160);
    text-align: center;
    font-size: 30px;
}

.chinabj, .chinash, .usany, .usahw {
    text-align: center;
}

.good {
    color:rgb(56, 66, 0);
    font-size: 50px;
    background-color: #ABBD45;
    width: 100%;
}

.moderate {
    color: rgb(128, 104, 0);
    font-size: 50px;
    background-color:#F6DA61;
    width: 100%;
}

.sensitive {
    color: rgb(90, 57, 0);
    font-size: 50px;
    background-color: #E9AC45;
    width: 100%;
}

.unhealthy {
    color:rgb(83, 22, 0);
    font-size: 50px;
    background-color: #EB6332;
    width: 100%;
}

.veryunhealthy {
    color: rgb(53, 0, 12);
    font-size: 50px;
    background-color: #B82C4D;
    width: 100%;
}

.hazard {
    color:rgb(29, 0, 15);
    font-size: 50px;
    background-color: #6E2B4E;
    width: 100%;
}

img {
    max-width: 600px;
    padding: 100px;
}