body {
    background:black;
    font-size: 100px;
    font-family: 'gotham';
    color: rgb(44, 44, 44);
}

.cinzel {font-family: 'cinzel', serif;}

.fix {position: fixed; top: 80%; left: 62%;}

.head {
    font-size: 80px;
    color: white;
}

.subhead{
    font-size: 18px;
    color: rgb(200, 200, 200);
}


a:link {color: rgb(36, 36, 36); text-decoration: none;}
a:hover {color: white}