body {
    background: #509896;
    font-size: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT';
    margin: 50px 100px 50px 100px;
}

.small {width: 154.5px;}

.medium {width: 200px;}

div {background: #468a87;}

.header {background: #89ccca;}

.content {background: #6ba09e; font-size:30px;}

.c {
    background: #999999;
    width: 130px;
    height: 125px;
    margin: 15px 15px 15px 15px;
    display: inline-block;
    font-size: 20px;
}

.c1 {width: 125px; height:25px;font-size:22px;}
.c2 {width: 285px; height:80px;font-size:14px;}
.c3 {width: 400px; height:150px; font-size:18px;}
.c4 {width: 620px;}
.c5 {width: 770px;}
.c6 {width: 930px; height:20px;font-size: 12px;}

img {width: 100%}

.wrapper {
    width: 960px;
    margin: 0 auto 0 auto;
    background: #6ba09e;
    color: #ffffff;
    font-size: 20px;
}