body {
    background: rgb(44, 44, 44);
    font-size: 30px;
    font-family: 'gotham';
    color: rgb(200, 200, 200);
}

img {
width: 19.4%;
margin: 0 0 0 0;
padding: 0 0 0 0;
image-rendering: loop;
}

.fix2 {position: fixed; top: 8px; left:0; text-align: center;
    color: rgba(0, 0, 0, 0.4); font-size: 300px; }

.fix {position: fixed; bottom: 0; right: 0;}


a:link {color: rgb(255,0,0); font size: 12px;position: fixed; top: 20%; right: 80%;}
a:hover {color:rgb(229.5, 229.5, 229.5);}
a:visited {color: rgb(229.5, 229.5, 229.5);}
