body {
    background: #161616;
    font-family: 'gotham';
    font-size: 28px;
    color: rgb(200, 200, 200);
}

.head {
    text-align: left;
    font-size: 200px;
    color: rgba(255, 255, 255, 0.205);
}

.fix { position: fixed; top: 0; left:0}

img {
    height: 680px;
    width: 1264px;
}

.subhead{
    font-size: 25px;
    color: rgb(179, 179, 179);
    font-family: 'cinzel', serif;
    text-align: right;
    bottom: 0; right: 0;
    position: fixed;
}

.rightalign{
    text-align: right;
    position: fixed; top: 30%; right: 0.3%;
}

.leftalign{
    text-align: left;
    position: fixed; bottom:0; left: 0;
}

.rightalign2{
    text-align: right;
    position: fixed; top: 1%; right: 1%;
}

.rightalign3{text-align: right; position:fixed;
top: 70%; right: 1%;}

a:link {color: rgb(165, 165, 165); text-decoration: none;}
a:hover {color: white}
a:visited {color:  rgb(88, 88, 88);}